<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prabhu.thewild">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ResultsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/deatilsTheme" />
        <activity android:name=".ErrorActivity"
            android:theme="@style/errorTheme"/>
    </application>

</manifest>